header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
img {
    width: 100%;
}
@media (max-width: 1080px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media (max-width: 480px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
