@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Righteous&family=Roboto+Slab:wght@400;500&display=swap");

section {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
}

#formulario-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

#formu {
    color: black;
    font-family: "Righteous", cursive;
    font-size: 3rem;
    text-align: center;
}
@media (max-width: 1080px) {
    #formu {
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    #formu {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
}
